          <div class="card">
            <div class="card-body">
              <% unless airplane.photos.first.nil? %>
                <%= cl_image_tag airplane.photos.first.key, class:"card-img-top" %>
              <% end %>
              <h5 class="card-title"> <%= airplane.brand_and_model %></h5>
              <p class="card-list"> <%= airplane.registration %></p>
              <%= link_to "Book this Airplane", airplane_path(airplane.id) %>
            </div>
          </div>
