// Specific CSS for your home-page

.banner {
height: 65vh;
background-size: cover;
background-position: center;
position:relative;
}

.credits {
  position:absolute;
  bottom: 0px;
  right: 0px;
}

.btn-banner{
 background-color: #16213E;
 color: white;
}

.homegrid {
  margin-left: 18%;
  flex-basis: 100%;
  flex-wrap: wrap;
  display: flex;
  margin: 25px;
}

.homegrid-card {
  margin: 10px;
}


.containerhome {
  width: 100%;
}

.card {
  border-radius: 15px;
  background-color: #F6F6EB;
}

div.col:nth-child(even) > .card {
  background-color: #ebeade;
}

.price {
  background: linear-gradient(to right,#16213e ,#23449d);
  background-color: #16213e;
  border-radius: 50%;
  text-align: center;
  height: 125px;
  width: 125px;
  margin: auto;
  color: white;
  font-size: 24px;
  padding-top: 30px;
  border: solid 4px #ffca03;
  margin-bottom: 5px;
}

.starting {
  font-weight: bold;
  font-size: 20px;
}
