<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://compareprivateplanes.com/images/gulfstream/g700/16.jpeg);">
  <div class="container">
    <h1><strong>Touch</strong> & <strong>Go</strong>!</h1>
    <p>Rent aircrafts and crews</p>
    <a class="btn btn-banner" href="#">Start up Checklist</a>
  </div>
  <p class="credits">Copyrights courtesy of Gulfstream Aerospace Corporation </p>
</div>
<div class="containerhome">
  <% if @airplanes != [] %>
    <div class="homegrid">
      <% @airplanes.each do |airplane| %>
        <div class="homegrid-card">
          <div class="airplane-card">
            <div class="card-header">
              <%= cl_image_tag airplane.photos.first.key, class:"d-block" %>
            </div>
            <div class="card-body">
              <h4>
                <%= airplane.brand_and_model %>
              </h4>
              <p class="card-list"> <%= airplane.registration %></p>
              <%= link_to "Book this Airplane", airplane_path(airplane.id) %>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  <% else %>
    <h3>No airplanes available yet ...</h3>
  <% end %>
</div>
